@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

:root {
  --first-color: #1b262c;
  --second-color: #0f4c75;
  --third-color: #3282b8;
  --fourth-color: #bbe1fa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
  background: url(/image/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 81.5vh;
}

/* !NAVBAR */
.navbar-brand {
  font-size: 26px;
  line-height: 54px;
  color: var(--second-color) !important;
  padding-left: 20px;
}
.navbar-brand img {
  width: 50px;
  margin-bottom: 15px;
}
.navbar-brand span {
  margin-left: 15px;
}
.navbar-brand b {
  color: var(--second-color);
  font-weight: bolder;
}

.active {
  color: var(--second-color) !important;
}
.nav-color {
  background-color: #eaeaea;
  transition: all ease-in-out 0.5s;
  box-shadow: 0px 4px 20px #38383889;
}

.bg-transparent {
  transition: all ease-in 0.5s;
}
.nav-link {
  font-size: 20px;
  color: rgba(48, 91, 119, 0.63);
}
.nav-link:hover,
.nav-link:focus,
.login {
  color: var(--second-color);
}
.login img {
  margin-left: 15px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}
.menu-toggle input {
  position: absolute;
  top: -5px;
  width: 35px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
  z-index: 4;
}
.menu-toggle span {
  display: block;
  width: 28px;
  height: 3.5px;
  border-radius: 50px;
  background-color: var(--fourth-color);
  transition: all 0.3s;
  z-index: 3;
}

/*HAMBURGER ANIMATION*/
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(3) {
  width: 50%;
  margin-left: 12px;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: var(--fourth-color);
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: var(--fourth-color);
  transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

/* !HEADER */
header {
  padding-top: 10rem;
}
.title-header {
  width: 67%;
  height: 207px;
  margin-top: 4rem;
}
.title-header h1 {
  line-height: 60px;
  font-weight: 900;
  color: var(--second-color);
}
.title-header h5 {
  line-height: 30px;
  margin-top: 20px;
  color: rgba(26, 37, 43, 0.5);
}

.col-6 {
  height: 60vh;
}
.img-header {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 5px;
}

.card-ad {
  background: rgba(15, 76, 117, 0.3);
  backdrop-filter: blur(8px) !important;
  border-radius: 20px;
  border: none;
  width: 342.63px;
  height: 110.92px;
  margin-top: 200px;
}
.img-fluid {
  position: relative;
  top: 20px;
  left: 12px;
  width: 68.53px;
  height: 69.33px;
}
.card-hero-detail {
  padding-left: 0px;
}
.card-hero-detail h5 {
  font-family: "Nunito";
  width: 254.71px;
  line-height: 27px;
  font-weight: 700;
  margin-bottom: 5px;
}
.card-hero-detail p {
  font-family: "Nunito";
  width: 226.6px;
  font-weight: 300;
  line-height: 23px;
}

/* !MAIN */
.main-disease,
.jenis-penyakit,
.search-penyakit {
  background: #f8f8f8;
  border: 1px solid #afc1ce;
}
.search {
  padding: 3rem;
  width: 85%;
}
.search p {
  color: var(--second-color);
  font-weight: 500;
}
.button-search {
  background: #0f4c75;
  color: white;
}
.scroll {
  width: 100%;
  height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}
.form-check-input {
  width: 24px;
  height: 22px;
}
.form-check {
  padding-top: 10px;
  text-align: left;
}
.form-check-label {
  padding-left: 10px;
  padding-top: 5px;
}

/* LIST PENYAKIT */
.jenis-penyakit {
  padding: 50px 0px 55px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.jenis-penyakit img {
  border: 1px solid var(--second-color);
  border-radius: 50%;
  padding: 3px;
}
.content-penyakit {
  padding-top: 35px;
}
.content-penyakit h5 {
  color: var(--second-color);
}
.content-penyakit p {
  color: rgba(26, 37, 43, 0.5);
  font-size: 16px;
}
.card-filter {
  border-radius: 6px !important;
}
.btn-detail {
  color: var(--second-color);
  border: 1px solid var(--second-color);
  padding: 8px 60px 8px 60px;
  margin-top: 20px;
  border-radius: 8px;
  font-size: 17px;
  text-decoration: none;
}
.btn-detail:hover {
  background-color: var(--second-color);
  color: white;
}
.search input,
button,
.card-filter {
  border-radius: 0px;
  box-shadow: none !important;
  border: 1px solid #0f4c7565;
}
.search input:focus {
  border: 1px solid #3282b8;
}
.form-check-input:checked {
  background-color: var(--second-color);
}

/* *MOBILE */
@media screen and (max-width: 620px) {
  /* !MENU NAVBAR */
  .navbar {
    display: block;
    width: 100%;
    padding: 0 !important;
    padding-top: 12px !important ;
    padding-bottom: 10px !important ;
    z-index: 3;
    position: fixed;
  }
  .nav-color {
    background-color: var(--second-color);
    transition: all ease-in-out 0.3s;
    color: black !important;
  }
  .bg-transparent {
    transition: all ease-in 0.3s;
  }
  .nav-link {
    color: var(--second-color) !important;
  }
  .nav-link a {
    margin-top: 100px !important ;
  }
  .navbar-brand {
    position: relative;
    right: 35px;
  }
  .navbar-brand span {
    margin-left: 8px;
  }
  .menu-toggle {
    display: flex;
  }
  .top-menu {
    z-index: -1;
  }
  nav ul {
    position: relative;
    /* top: -140px;
    left: -50px; */
    width: 100%;
    background: #fafafa;
    align-items: center;
    transform: translateY(0);
    transition: all 0.5s;
    opacity: 0;
    border-radius: 0 0 10px 10px;
  }

  nav ul.slide {
    display: flex;
    transform: translateY(100%);
    opacity: 1;
  }

  /* !HEADER */
  .title-disease {
    background: #fafafa;
    background-size: cover;
    border-radius: 25px;
    position: absolute;
    left: 0;
    margin-top: 16rem;
    width: 500px;
    height: 200px;
  }
  .title-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 200px !important;
    padding-top: 2em;
    margin: 0 !important;
  }
  .title-header h5 {
    width: 400px;
    height: auto;
    margin-top: 0 !important;
  }
  .title-header h1::before {
    content: "";
    display: block;
    width: 30%;
    border: 2px solid #0f4c75cc;
    border-radius: 10px;
    position: absolute;
    right: 8em;
    top: 13px;
  }
  .img-header {
    width: 50%;
    height: auto;
    display: block;
    margin-top: 5px;
    position: absolute;
    top: 80px;
    left: 100px;
    z-index: -1;
  }
  .card-ad {
    display: none;
  }

  /* !MAIN */
  .main-disease {
    width: 100%;
    margin-top: 11.5rem;
  }
  .search-penyakit {
    display: block;
    width: 100% !important;
    height: 63vh !important;
  }
  .search {
    padding: 3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .search p {
    color: var(--second-color);
    font-weight: 500;
    font-size: 11px;
  }
  .nm-disease {
    font-size: 10px !important;
    position: relative;
    left: 5px;
    bottom: 9px;
    background-color: white;
    z-index: 1;
    width: auto;
    height: 15px;
    padding: 0px 3px 0px 3px;
    border-radius: 2px;
    border-left: 1px solid #0f4c7565;
    border-right: 1px solid #0f4c7565;
  }
  .nm-symptom {
    font-size: 10px !important;
    position: relative;
    left: 25px;
    bottom: 9px;
    background-color: white;
    width: auto;
    height: 15px;
    padding: 0px 3px 0px 3px;
    border-radius: 2px;
    border-left: 1px solid #0f4c7565;
    border-right: 1px solid #0f4c7565;
    z-index: 1;
  }
  .input-gejala,
  .input-search {
    position: absolute;
    display: block;
  }
  .d-flex .input-search {
    left: 20px;
    width: 130px !important;
  }
  .d-flex .input-gejala {
    right: 20px;
    width: 165px !important;
  }
  .button-search {
    display: block;
    background: #0f4c75;
    color: white;
    margin-left: 40px;
  }

  .card-filter {
    display: flex;
    flex-wrap: wrap;
    width: 333px !important;
  }
  .card-filter .card-text {
    margin: 0;
  }
  .input-filter {
    display: none;
  }
  .scroll {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
  }
  .form-check-input {
    width: 24px;
    height: 22px;
  }
  .form-check {
    padding-top: 10px;
    text-align: left;
  }
  .form-check-label {
    padding-left: 10px;
    padding-top: 5px;
  }

  /* LIST PENYAKIT */
  .list-penyakit {
    width: 100%;
    height: 400px !important;
    display: flex;
    flex-direction: row;
    overflow-y: hidden !important;
    overflow-x: scroll !important;
    scroll-snap-type: x mandatory;
    scroll-padding: 25px;
    scroll-behavior: smooth;
    position: relative;
    column-gap: 24px;
  }
  .jenis-penyakit {
    position: relative;
    padding: 50px 0px 55px 0px;
    display: flex;
    flex: 0 0 100%;
    scroll-snap-align: start;
  }
  .jenis-penyakit img {
    border: 1px solid var(--second-color);
    border-radius: 50%;
    padding: 3px;
  }
  .content-penyakit {
    padding-top: 35px;
  }
  .content-penyakit h5 {
    color: var(--second-color);
  }
  .content-penyakit p {
    color: rgba(26, 37, 43, 0.5);
    font-size: 16px;
  }
  .card-filter {
    border-radius: 6px !important;
  }
  .btn-detail {
    color: var(--second-color);
    border: 1px solid var(--second-color);
    padding: 8px 60px 8px 60px;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 17px;
    text-decoration: none;
  }
  .btn-detail:hover {
    background-color: var(--second-color);
    color: white;
  }
  .search input,
  button,
  .card-filter {
    border-radius: 2px;
    box-shadow: none !important;
    border: 1px solid #0f4c7565;
  }
  .search input:focus {
    border: 1px solid #3282b8;
  }
}

/* !TABLET */
@media screen and (max-width: 991.98px) {
  /* !NAVBAR */
  .navbar-brand {
    font-size: 18px;
    line-height: 54px;
    color: var(--second-color) !important;
    padding-left: 20px;
  }
  .navbar-brand img {
    width: 40px;
    margin-bottom: 15px;
  }
  .nav-link {
    margin: 0px 5px 0px 5px !important;
    font-size: 13px;
    color: rgba(48, 91, 119, 0.63);
  }
  .login img {
    width: 15px;
    height: auto;
    margin-left: 5px;
  }

  /* !HEADER */
  header {
    height: 28.7vh;
  }
  .title-header {
    width: 100%;
    height: 107px;
    margin-top: 3rem;
  }
  .title-header h1 {
    line-height: 25px;
    font-weight: 900;
    font-size: 18px;
  }
  .title-header h5 {
    margin-top: 10px;
    line-height: 20px;
    font-size: 12px;
  }

  .col-6,
  .col-9,
  .col-3 {
    height: 40vh;
  }
  .img-header {
    margin: 0;
  }

  .col-md-9 {
    padding-left: 5px;
  }
  .card-ad {
    border-radius: 15px;
    width: 185px;
    height: 65px;
    position: relative;
    bottom: 8.5rem;
    right: 2em;
  }
  .img-ad {
    width: 39.55px;
    height: 40.35px;
    padding-bottom: 13px;
  }
  .card-hero-detail {
    padding-left: 0px;
    width: inherit;
  }
  .card-hero-detail h5 {
    font-family: "Nunito";
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    width: 140px;
    position: relative;
    bottom: 10px;
  }
  .card-hero-detail p {
    font-family: "Nunito";
    font-weight: 400;
    width: 140px;
    font-size: 9.5px;
    line-height: 14px;
    position: relative;
    bottom: 14px;
  }

  /* !MAIN */
  .main-disease,
  .jenis-penyakit,
  .search-penyakit {
    background: #f8f8f8;
    border: 1px solid #afc1ce;
    z-index: 1;
    display: block;
    height: 70vh;
  }
  /* *SEARCH PENYAKIT */
  .search-penyakit {
    width: 17rem;
    height: 48vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .search {
    padding: 2em 0px 0px 1em;
    font-size: 10px;
  }
  .input-gejala {
    width: 199px !important;
  }
  .input-search {
    width: 160px !important;
  }
  .search input::placeholder {
    font-size: 11px;
    position: relative;
    bottom: 2px;
  }
  .button-search {
    width: auto;
    height: 30px;
  }
  .button-search img {
    width: auto;
    height: 15px;
    margin-bottom: 8px;
  }
  .input-filter {
    width: 95% !important;
    height: 25px !important;
  }
  .scroll {
    width: 100%;
    height: 100px;
  }
  .form-control {
    width: 180px;
    height: 30px;
  }

  .form-check-input {
    width: 16px;
    height: 15px;
  }
  .form-check {
    padding-top: 10px;
    text-align: left;
  }
  .form-check-label {
    width: 120px;
    padding-left: 7px;
    padding-top: 0;
  }

  /* ?LIST PENYAKIT */
  .list-penyakit {
    width: auto;
    height: 48vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .jenis-penyakit {
    width: 181.7px;
    height: 250px;
  }
  .jenis-penyakit img {
    padding: 3px;
    width: auto;
    height: 80px;
  }
  .content-penyakit {
    padding-top: 15px;
  }
  .content-penyakit h5 {
    font-size: 12px;
    color: var(--second-color);
  }
  .content-penyakit p {
    color: rgba(26, 37, 43, 0.5);
    font-size: 10px;
  }
  .btn-detail {
    padding: 5px 40px 5px 40px;
    margin-top: 0;
    border-radius: 30px;
    font-size: 10px;
    width: 50px;
    height: 20px;
  }
  .btn-detail:hover {
    background-color: var(--second-color);
    color: white;
  }
  .search p {
    font-size: 13px;
  }
  .search input,
  button,
  .card-filter {
    border-radius: 0px;
    box-shadow: none !important;
    border: 1px solid #0f4c7565;
  }
  .search .button-search {
    border-radius: 0px 4px 4px 0px !important;
  }
  .search .input-search {
    border-radius: 4px 0px 0px 4px !important;
  }
  .search input,
  .input-gejala {
    border-radius: 4px !important;
  }
  .search .card-filter {
    border-radius: 8px 8px 2px 2px !important ;
  }
}

/* ?FULL HD */
@media screen and (min-width: 1900px) {
  /* !NAVBAR */
  .navbar {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  .nav-link {
    font-size: 25px;
    font-weight: 400;
    color: rgba(48, 91, 119, 0.63);
  }

  /* !HEADER */
  .title-header {
    width: 67%;
    height: 207px;
    margin-top: 10rem;
  }
  .img-header {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 1rem;
  }

  .card-ad {
    background: rgba(15, 76, 117, 0.3);
    backdrop-filter: blur(8px) !important;
    border-radius: 20px;
    border: none;
    width: 342.63px;
    height: 110.92px;
    margin-top: 20rem;
    margin-left: 3rem;
  }
  .card-hero-detail {
    padding-left: 0px;
  }
  .card-hero-detail h5 {
    font-family: "Nunito";
    width: 254.71px;
    line-height: 27px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 5px;
  }
  .card-hero-detail p {
    font-family: "Nunito";
    width: 226.6px;
    font-weight: 600;
    line-height: 23px;
  }

  /* !MAIN */
  /* *SEARCH PENYAKIT */
  .search {
    padding: 3rem;
    width: 85%;
  }
  .search p {
    color: var(--second-color);
    font-weight: 500;
    font-size: 22px;
  }
  .search input::placeholder {
    font-size: 20px;
    position: relative;
    top: 2.5px;
  }
  .button-search {
    background: #0f4c75;
    color: white;
    width: auto;
    height: 50px;
  }
  .input-gejala {
    width: 100%;
    height: 50px;
  }

  /* ?LIST PENYAKIT */
  .btn-detail {
    color: var(--second-color);
    border: 1px solid var(--second-color);
    padding: 8px 60px 8px 60px;
    margin-top: 20px;
    border-radius: 4px;
    font-size: 17px;
  }
  .search input,
  button,
  .card-filter {
    border-radius: 0px !important;
    box-shadow: none !important;
    border: 1px solid #0f4c7565;
  }
  .search .button-search {
    border-radius: 0px 5px 5px 0px !important;
  }
  .search .input-search {
    border-radius: 5px 0px 0px 5px !important;
  }
  .search input,
  .input-gejala {
    border-radius: 5px !important;
  }
  .search .card-filter {
    border-radius: 10px 10px 5px 5px !important;
  }
}
